@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/mixins";
@import "../../scss/variables";

.app-profile {
  font-family: "Noto Sans", sans-serif;
  background-color: $white;

  .component-title {
    background-color: $primary;
    color: $white;
    font-weight: $font-weight-bold;

    .back-button {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $white;

      i {
        font-size: $font-size-lg;
      }

      &:hover {
        background-color: darken($primary, 5%);
      }
    }

    .sign-out-btn {
      @extend .back-button;
      border-radius: 0;
    }

    .title {
      padding: 1rem;
      text-align: left;
    }
  }

  .section {
    padding: 1rem;

    &:not(:last-child) {
      border-bottom: 1px solid $gray-400;
    }
  }

  .section-profile {
    display: flex;
    align-items: center;

    .profile-name {
      margin-left: 2rem;

      span {
        max-width: 200px;
        display: inline;
      }
    }
  }

  .section-details {
    .icon {
      text-align: center;
      color: $gray-400;
      margin-top: .5rem;
    }

    .details {
      margin-bottom: 1rem;
    }

    .main {
      margin: 0;
      margin-top: -5px;
    }

    .description {
      @extend .main;
      margin: 0;
      font-size: $font-size-sm;
      color: $gray-600;
    }
  }
}