<main class="app-profile container">
    <header class="row mb-3 component-title">
        <a class="col-2 text-white back-button" href="/" data-navigo><i class="fas fa-angle-left"></i></a>
        <header class="col-8 title">User Profile</header>
        <button type="button" id="sign-out" class="col-2 text-white btn sign-out-btn" title="Sign out"><i class="fas fa-sign-out-alt"></i></a>
    </header>
    <main class="row">
        <section class="col-md-12 section section-profile">
            <div class="profile-image">
                <img class="rounded-circle" src="/assets/images/default_m_user.png" width="100">
            </div>
            <div class="profile-name">
                <h3 class="name">
                    <span id="first-name">First</span>
                    <span id="last-name">Last</span>
                </h3>
                <p id="phone-number" class="phone-number">
                    <div class="spinner-border spinner-border-sm text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </p>
            </div>
        </section>
        <section class="col-md-12 section section-details">
            <div class="row m-0">
                <div class="col-2 icon">
                    <i class="fa fa-2x fa-info-circle"></i>
                </div>
                <div class="col-10 details">
                    <div class="spinner-border spinner-border-sm text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <p id="email" class="main"></p>
                    <p class="description">Email</p>
                </div>
            </div>
            <div class="row m-0">
                <div class="col-2 icon">
                    
                </div>
                <div class="col-10 details">
                    <div class="spinner-border spinner-border-sm text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <p id="gender" class="main"></p>
                    <p class="description">Gender</p>
                </div>
            </div>
        </section>
    </main>
</main>
<footer class="footer text-center p-4">Made with <i class="fas fa-coffee icon"></i> by TeaInside</footer>