<form id="register-form">
    <div class="form-row">
        <div class="form-group col-md-6">
            <div class="input-group">
                <input id="first_name" class="has-prepend" type="text" name="first_name" required>
                <label class="input-label" for="firstname">First name</label>
                <span class="bar"></span>
                <div class="input-group-prepend">
                    <i class="fa fa-user"></i>
                </div>
                <span class="helper-text">Required</span>
            </div>
        </div>
        <div class="form-group col-md-6">
            <div class="input-group">
                <input id="lastname" class="has-prepend" type="text" name="last_name" required>
                <label class="input-label" for="lastname">Last name</label>
                <span class="bar"></span>
                <div class="input-group-prepend">
                    <i class="fa fa-user"></i>
                </div>
                <span class="helper-text">Required</span>
            </div>
        </div>
    </div>

    <div class="input-group">
        <input class="has-prepend" id="email" type="email" name="email" required>
        <label class="input-label" for="email">Email</label>
        <span class="bar"></span>
        <div class="input-group-prepend">
            <i class="fa fa-envelope"></i>
        </div>
        <span class="helper-text">Required</span>
    </div>

    <div class="input-group">
        <input class="has-prepend" id="password" type="password" name="password" required>
        <label class="input-label" for="password">Password</label>
        <span class="bar"></span>
        <div class="input-group-prepend">
            <i class="fa fa-lock"></i>
        </div>
        <span class="helper-text">Required</span>
    </div>

    <div class="input-group">
        <input class="has-prepend" id="confirm-pass" type="password" name="cpassword" required>
        <label class="input-label" for="confirm-pass">Confirm Password</label>
        <span class="bar"></span>
        <div class="input-group-prepend">
            <i class="fa fa-lock"></i>
        </div>
        <span class="helper-text">Required</span>
    </div>

    <div class="input-group">
        <input class="has-prepend" id="phone" type="tel" name="phone" required>
        <label class="input-label" for="phone">Phone</label>
        <span class="bar"></span>
        <div class="input-group-prepend">
            <i class="fa fa-phone"></i>
        </div>
        <span class="helper-text">Required</span>
    </div>

    <div class="form-group">
        <select id="gender" class="form-control" name="gender">
            <option value>Select your gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>
        <span class="helper-text">Required</span>
    </div>

    <div class="form-group">
        <div id="captcha" class="text-center my-3">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div class="input-group">
            <input id="form-captcha" type="captcha" name="captcha" required>
            <label class="input-label" for="captcha">Captcha Text</label>
            <span class="bar"></span>
        </div>
    </div>

    <button type="submit" id="register-button" class="btn btn-block btn-lg btn-primary">Register</button>
    <p class="text-center my-3">Have an account?</p>
    <a class="btn btn-block btn-lg btn-outline-dark" href="auth/login" data-navigo>Sign in</a>
</form>