* {
	font-family: Helvetica;
}
.main-cage {
	border: 1px solid black;
	width: 50%;
	height: 550px;
}
.main-chat {
	background-color: #ede6e6;
	height: 390px;
	overflow-x: scroll;
}
.banner {
	border-bottom: 2px solid black;
}
.pp {
	width: 100%;
	border: 0px solid black;
	margin-right: 88%;
	padding-bottom:2%;
}
.sb {
	margin-left: 1%;
	background-color: #c1ed31;
	border-radius: 4%;
	border: 2px solid #c1ed31;
	padding: 1% 2% 1% 2%;
	color:black;
	cursor: pointer;
}

.sb:hover {
	background-color: #abd61d;
	border: 2px solid #abd61d;
}

.sb:active {
	background-color: #91b512;
	border: 2px solid #91b512;
}

.wfg {
	display: inline-block;
}

.arg {
	margin-top: -12%;
	margin-left: 10%;
	width: 500px;
	word-wrap: break-word;
}

.nfg {
	margin-top: -2px;
	margin-right: 85%;
}

.gra {
	margin-top: -11.5%;
	margin-right: -10%;
	width: 500px;
	word-wrap: break-word;
}

.gfn {
	margin-top: -2px;
	margin-left: 85%;
}

.brg {
	margin-top: -1px;
	border-top:0.1px solid black;
	border-bottom: 0.1px solid black;
}