* {
	font-family: Helvetica;
}

.main-cage {
	margin-top: 10px;
	border: 1px solid #80e200;
	border-radius: 5px;
	width: 750px;
	height: 555px;
	background-color: #5be58b;
}

.photo {
	width: 65px;
	height: 65px;
	margin: 5px 10px 0px 0px;
	border-radius: 100%;
}

.name-cage {
	float: left;
	margin: 2px 40px;
}

.photo-cage {
	float: right;
}

.sub-cage {
	display: inline-block;
}

#name {
	font-weight: bold;
}

#last-seen {
	margin-top: -12px;
	font-size: 12px;
}

#chat-field {
	margin-top: 75px;
	width: 735px;
	height: 420px;
	border-radius: 3px;
}

.form-field {
	float: all;
	position: absolute;
	padding: 5px 0px 5px 0px;
	margin-top: 2px;
}

.input {
	float: left;
	width: 685px;
	margin-right: -4px;
}

#chat-field {
	background-color: #e5ffe0;
}

#txt {
	padding: 7px 0px 7px 0px;
	width: 630px;
}
	
.submit {
	padding: 0px;
	background-color: #70f968;
}

#submit {
	cursor: pointer;
	padding: 5.8px 0px 5.8px 0px;
}

.attachment-icon {
	cursor: pointer;
	background-color: inherit;
	width: 30px;
	height: 30px;
	margin-left: 3.5px;
	vertical-align: middle;
}

.attachment-icon:hover {
	background-color: #000;
}


.image-upload > input
{
    display: none;
    vertical-align: middle;
}
