
#caged {
	margin-top: 30px;
	width: 700px;
	height: 500px;
	border: 1px solid #000;
	border-radius: 5px;
	padding: 30px 3px 3px 3px;
}

#uimg {
	border: 1px solid #000;
	width: 200px;
	height: 200px;
}

#profile_info {
	margin-top: 10px;
}

#navbar {
	margin-top: 20px;
}