html, body {
    background-color: #efece7;
    height: 100%;
    /* position: fixed; */
    /* background-image: -webkit-linear-gradient(180deg, #efece7 50%, #478262 50%); */
    /* min-height: 250px; */
}
.colchatlist {
    /* background-color:#333 !important; */
    position: fixed;
    overflow-y: auto;
    height: 100%;
    left: 0;
    padding: 0;
    margin: 0;
}
.colchatlist .panelchatlist {
    border: 0;
    border-radius: 0;
}
.colchatcontent {
    background-color:#478262 !important;
    position: fixed;
    overflow-y: auto;
    height: 100%;
    right: 0;
}
.btnmenu,
.btnmenu:hover,
.btnmenu:focus {
    border: 0 !important;
    border-radius: 0 !important;
    background-color: transparent !important;
    outline: none !important;
    box-shadow: none !important;
}
.formsearch,
.formsearch:hover,
.formsearch:focus
{
    background-color: #478262 !important;
    outline: none !important;
    box-shadow: none !important;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #fff;
}
.formsearch::-webkit-input-placeholder {
    color: white !important
}
.formsearch:-moz-placeholder {
    color: white !important;
}
.formsearch::-moz-placeholder {
    color: white!important;
}
.formsearch:-ms-input-placeholder {
    color: white !important;
}
.formsearch::-ms-input-placeholder {
    color: white !important;
}
.panellistuserchat {
    /* background-color: red!important; */
    overflow-y: auto;
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 0;
}
.listuserchat, .listuserchat .container-fluid{
    padding: 0;
    margin: 0;
}
.listuserchat .list-group-item {
    border-radius: 0;
    padding: 1em;
}
.listuserchat .list-group-item .ratio {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.listuserchat .list-group-item .img-circle {
    border-radius: 50%;
}
.listuserchat .list-group-item .img-responsive {
    display: block;
    /* height: auto; */
    /* max-width: 100%; */
    /* border-radius: 50% !important; */
    border: 0.1em solid rgba(0, 0, 0, 0.1);
    max-width: 3.5em !important;
    height: 3.5em !important;
}
.listuserchat .list-group-item .coluser {
    padding: 0;
    margin: 0;
    font-weight: bold;
    text-align: left;
}
.listuserchat .list-group-item .chatcontent {
    padding: 0;
    margin: 0;
    text-align: left !important;
}
.colchatcontent {
    height: 100vh;
    padding: 0;
    margin: 0;
}
.colchatcontent .panelchatperson {
    border-radius: 0;
}
.colchatcontent .panelchatperson .panel-heading {
    padding: 0.4em;
    height: 8vh;
    /* padding: 0 1em 0 1em; */
    text-align: left;
}
.colchatcontent .namauser {
    font-weight:  bold;
    font-size: 1.2em;
}
.colchatcontent .ketdatetime {
    font-size: 1em;
}
.colchatcontent .panelchatperson .panel-body{
    height: 82vh !important;
    /* height: 85vh !important; */
    background-image: url("http://www.planwallpaper.com/static/images/Nature-Background-Wallpapers-8_gxwmqmj.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 0;
    margin: 0;
}
.colchatcontent .panelchatperson .panel-footer {
    height: 10vh;
    /* margin: 0;
    bottom: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    border: 0;
    border-radius: 0; */
}