.pp_cage {
	margin-top: 2%;
}
.pp {
	border-radius: 100%;
	width: 200px;
	height: 200px;
}
.achange {
	text-decoration: none;
	color: blue;
}
.achange:hover {
	text-decoration: underline;
}
.change {
}
.wqb {
	width: 140px;
}