* {
	font-family: Arial;
}
.cage {
	margin-top: 50px;
	padding-top: 20px;
	margin-bottom: 60px;
	width: 600px;
	height: 585px;
	border: 2px solid #000;
}
.btnhd {
	margin-top: 20px;
}
#reload_captcha {
	margin-top: 10px;
}
.lg {	
	margin-top: 10px;
}