.primary {
	background-color: #478262;
}

.primary-8 {
	background-color: #6c9b81;
}

.primary-6 {
	background-color: #91b4a1;
}

.primary-4 {
	background-color: #b4cdc0;
}

.primary-2 {
	background-color: #dae6e0;
}

.font-icon {
	font-size: 25px;
}
