<section class="app-home container">
    <div class="row justify-content-center">
        <div class="col-md-12 text-center">
            <img class="logo-image" src="/assets/images/logo.png " width="100">
        </div>
        <div class="col-md-12 text-center mt-4">
            <h3 class="title font-weight-bold">Tea Messenger Web</h3>
        </div>
        <div class="col-md-12 mt-4">
            <a href="auth/register" class="btn btn-block btn-lg btn-primary" data-navigo>Join with us!</a>
        </div>
    </div>
</section>