@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/mixins";
@import "../scss/variables";

.app-home {
  height: 100%;
  font-family: "Noto Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-image {
  width: 100px;
  height: 100px;
  box-shadow: $box-shadow !important;
  border-radius: 50%;
}