@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/mixins";
@import "../../scss/variables";

.app-register__wrapper {
  height: 100%;
  overflow-x: hidden;
  background-color: $primary;

  & > .row {
    height: 100%;
  }
}

.app-register__form-register-wrapper {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.app-register__form-register {
  padding: 3rem;
  font-size: .9rem;
  width: 70%;
  align-content: center;
  justify-content: center;
  background-color: $white;

  .logo-centered {
    text-align: center;
    img {
      width: 140px;
      height: 140px;
      margin-bottom: 50px;
    }
  }
}

@include media-breakpoint-down(lg) {
  .app-register__form-register {
    padding: 1.75rem;
  }
}

@include media-breakpoint-down(sm) {
  .app-register__form-register {
    width: 100%;
    padding: 2rem;
  }
}