<div class="app-register__wrapper container-fluid">
    <div class="row">
        <div class="app-register__form-register-wrapper col-md-12">
            <div class="app-register__form-register row align-content-center justify-content-center">
                <div class="col-md-12 logo-centered">
                    <img class="rounded-circle" src="/assets/images/hg2.jpg" alt="logo" >
                    <h3>Register Tea Messenger</h3>
                </div>
                <form class="col-md-12">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Email</label>
                            <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Password</label>
                            <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="footer col-md-12">
            <p class="text-muted text-center">Made with <i class="fas fa-heart"></i> by TeaInside</p>
        </div>
    </div>
</div>

