<div class="form-signin-wrapper container-fluid h-100">
    <div class="row flex-row h-100 bg-white">
        <div class="col-md-12 my-auto p-0">
            <div class="form-signin mx-auto">
                <div class="logo-centered">
                    <img class="rounded-circle" src="/assets/images/hg2.jpg" alt="logo" >
                </div>
                <h3>Tea Messenger Login</h3>
                <form>
                    <div class="input-group">
                        <label for="inputUsername" class="sr-only">Username</label>
                        <div class="input-group-append">
                            <div class="input-group-text border-right-0">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                        <input type="text" id="inputUsername" class="form-control border-left-0" placeholder="Username" name="inputUsername" required autofocus>
                    </div>

                    <div class="input-group">
                        <label for="inputPassword" class="sr-only">Password</label>
                        <div class="input-group-append">
                            <div class="input-group-text border-right-0">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                        <input type="password" id="inputPassword" class="form-control border-left-0" placeholder="Password" name="inputPassword" required>
                    </div>

                    <div class="input-group mb-3 justify-content-between">
                        <input class="checkbox" id="rememberme" type="checkbox" value="false" name="rememberMe">
                        <label for="rememberme">Remember Me</label>
                        <a href="#">Forgot password ?</a>
                    </div>
                    <div class="input-group justify-content-center">
                        <button id="loginButton" class="btn btn-lg btn-primary text-center" type="button">Login</button>
                    </div>
                    <div class="input-group my-3 justify-content-center">
                        <p>Don't have an account ? <a href="/register" data-navigo>Register</a></p>
                    </div>
                </form>
                <p class="mt-5 mb-3 text-muted text-center">Made with <i class="fas fa-heart"></i> by TeaInside</p>
            </div>
        </div>
    </div>
</div>

