<div class="app-login__wrapper container-fluid">
    <div class="row">
        <div class="app-login__form-login-wrapper col-md-12">
            <div class="app-login__form-login  row align-content-center justify-content-center">
                <div class="logo-centered">
                    <img class="rounded-circle" src="/assets/images/hg2.jpg" alt="logo" >
                    <h3>Tea Messenger Login</h3>
                </div>
                <form class="form-row">
                    <div class="input-group">
                        <label for="inputUsername" class="sr-only">Username</label>
                        <div class="input-group-append">
                            <div class="input-group-text border-right-0">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                        <input type="text" id="inputUsername" class="form-control" placeholder="Username" name="inputUsername" required autofocus>
                    </div>

                    <div class="input-group">
                        <label for="inputPassword" class="sr-only">Password</label>
                        <div class="input-group-append">
                            <div class="input-group-text border-right-0">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                        <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="inputPassword" required>
                    </div>

                    <div class="input-group mb-3 justify-content-between">
                        <input class="checkbox" id="rememberme" type="checkbox" value="false" name="rememberMe">
                        <label for="rememberme">Remember Me</label>
                        <a href="#">Forgot password ?</a>
                    </div>
                    <div class="input-group justify-content-center mb-0">
                        <button id="loginButton" class="btn btn-block btn-lg btn-primary text-center" type="button">Login</button>
                    </div>
                    <div class="input-group justify-content-center my-3 header-or">
                        <h3>OR</h3>
                    </div>
                    <div class="input-group justify-content-center">
                        <a href="/register" class="btn btn-block btn-lg btn-outline-secondary text-center" data-navigo>Register</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="footer col-md-12">
            <p class="text-muted text-center">Made with <i class="fas fa-heart"></i> by TeaInside</p>
        </div>
    </div>
</div>

