@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/mixins";
@import "../../scss/variables";

.app-login__wrapper {
  height: 100%;
  overflow-x: hidden;
  background-color: $white;

  & > .row {
    height: 100%;
  }
}

.app-login__form-login-wrapper {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.app-login__form-login {
  padding: 3rem;
  font-size: .9rem;
  width: 70%;
  align-content: center;
  justify-content: center;

  .logo-centered {
    text-align: center;
    img {
      width: 140px;
      height: 140px;
      margin-bottom: 50px;
    }
  }

  h3 {
    color: #2c304d;
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 30px;
    text-align: center;
  }

  .header-or {
    width: 100%;
    text-align: center;
    position: relative;
    background-color: $white;

    &:after {
      content: '';
      width: 100%;
      border-bottom: solid 1px $gray-400;
      position: absolute;
      left: 0;
      top: 50%;
      z-index: 1;
    }

    & > h3 {
      background-color: $white;
      width: auto;
      display: inline-block;
      z-index: 3;
      padding: 0 20px 0 20px;
      color: $text-muted;
      position: relative;
      margin: 0;
    }
  }

  .checkbox {
    position: absolute;
    opacity: 0;
    font-weight: 400;

    & + label {
      padding-left: 35px;
      cursor: pointer;
    }

    & + label:before {
      content: '';
      left: 0;
      margin-top: -15px;
      display: inline-block;
      vertical-align: text-top;
      width: 25px;
      height: 25px;
      background: var(--light);
      border-radius: 15px;
      position: absolute;
      top: 50%;
    }

    // Box hover
    &:hover + label:before {
      background: var(--gray);
    }

    // Box checked
    &:checked + label:before {
      background: var(--primary);
    }
    
    // Disabled state label.
    &:disabled + label {
      color: #b8b8b8;
      cursor: auto;
    }

    // Disabled box.
    &:disabled + label:before {
      box-shadow: none;
      background: #ddd;
    }

    // Checkmark. Could be replaced with an image
    &:checked + label:after {
      content: '';
      position: absolute;
      left: 7px;
      top: 10px;
      background: white;
      width: 3px;
      height: 3px;
      box-shadow: 
        2px 0 0 white,
        4px 0 0 white,
        4px -2px 0 white,
        4px -4px 0 white,
        4px -6px 0 white,
        4px -8px 0 white;
      transform: rotate(45deg);
      transition: all 200ms ease-in-out;
    }
  }

  .input-group {
    margin-bottom: 1rem;
  }

  .input-group-append .input-group-text {
    background-color: #ffffff;
    @include border-left-radius(25px);
  }

  .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 1rem;
    @include border-right-radius(25px);

    &:focus {
      
    }
  }
}

@include media-breakpoint-down(lg) {
  .app-login__form-login {
    padding: 1.75rem;
  }
}

@include media-breakpoint-down(sm) {
  .app-login__form-login {
    width: 100%;
    padding: 2rem;
  }
}
