@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/mixins";
@import "../../scss/variables";

.app-auth {
  height: 100%;
  font-family: "Noto Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;

  .box-wrapper {
    border-radius: $border-radius;
    min-width: 300px;
    max-width: 600px;
    padding: 3rem;
    .box-title {
      margin-bottom: 2rem;
      text-align: center;
    }
  }

  .footer {
    text-align: center;
    margin-top: 2rem;

    .icon {
      color: #6D4C41;
    }
  }

  @include media-breakpoint-up(lg) {
    .box-wrapper {
      box-shadow: 0px 0px 20px 0px #ddd;
    }
  }

  @include media-breakpoint-down(md) {
    .box-wrapper {
      border: 0;
      padding: 1rem;
    }
  }
}