<div class="app-auth container-fluid">
    <div class="box-wrapper-outer row justify-content-center m-auto py-4">
        <div class="box-wrapper col-md-12">
            <div class="box-title">
                <img class="logo-image" src="/assets/images/logo.png " width="100">
                <h3 class="title font-weight-bold my-3">Tea Messenger Web</h3>
            </div>
            <div class="box-content">
                <div id="app-login"></div>
                <div id="app-register"></div>
            </div>
        </div>
        <footer class="footer col-md-12">Made with <i class="fas fa-coffee icon"></i> by TeaInside</footer>
    </div>
</div>